# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.workspace':
  'cmd-shift-h': 'file-explorer:open_project_root_folder'
  'cmd-alt-n': 'file-explorer:open_current_folder'
