# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.workspace':
  'cmd-shift-h': 'file-explorer:toggle-home-directory'
  'cmd-alt-n': 'file-explorer:toggle-current-directory'
'.file-explorer-view':
  'cmd-[': 'file-explorer:go-parent'
  
  
